export PS1='[\u(flask)]\> '
export DB_HOST=172.30.240.156
export DB_PORT=3306
export DB_NAME=voteapp
export DB_USER=voteapp
export DB_PASS=voteapp123
export DB_TYPE=mysql

export ENDPOINT_ADDRESS=localhost
export PORT=3306 
export MASTER_USERNAME=admin
export MASTER_PASSWORD=voteapp

